/* Estilo general para el botón*/
.btn-cerrar-sesion {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

/* Estilo para el hover del botón */
.btn-cerrar-sesion:hover {
    background-color: #c0392b;
}